# Top 50 Songs Argentina Data Analysis

In [27]:
import pandas as pd
import datetime
import sys
sys.path.append('../')
from engine import engine

top_50_df = pd.read_sql_table('top_50_arg_songs', engine)

In [4]:
top_50_df.head(4)

                 song_name          artist  rank extract_date
0  Un Finde | CROSSOVER #2         Big One     1   2023-05-10
1  Pobre Corazón - En Vivo   Ke Personajes     2   2023-05-10
2                un x100to  Grupo Frontera     3   2023-05-10
3          La Bebe - Remix       Yng Lvcas     4   2023-05-10

Selecting Samples from May 10th to June 10th (1 Month)

In [24]:
# top_50_df = top_50_df.loc[top_50_df['extract_date'] <= pd.to_datetime(datetime.date(2023,6,10))]

In [28]:
top_50_df.nunique()

song_name       69
artist          47
rank            50
extract_date    30
dtype: int64

In [25]:
pd.DataFrame( top_50_df['extract_date'].unique()).sort_values(0)

            0
0  2023-05-10
1  2023-05-12
3  2023-05-13
4  2023-05-14
2  2023-05-18
5  2023-05-19
6  2023-05-20
7  2023-05-21
8  2023-05-23
9  2023-05-24
10 2023-05-25
11 2023-05-26
12 2023-05-27
13 2023-05-28
14 2023-05-29
15 2023-05-30
16 2023-05-31
17 2023-06-01
18 2023-06-02
19 2023-06-03
20 2023-06-04
21 2023-06-05
22 2023-06-06
23 2023-06-07
24 2023-06-08
25 2023-06-09
26 2023-06-10

## Top 10 songs during May

In [37]:
def calculate_points(df):
    return (1/df['rank'])
top_50_df['points'] = top_50_df.apply(calculate_points, axis=1)

In [46]:
top_50_df.drop('extract_date',axis=1).groupby(['song_name','artist']).agg('sum').sort_values('points')

,,rank,points
song_name,artist,,
MORNING,Milo j,50,0.020000
Le doy perreo,Callejero Fino,50,0.020000
Dos Días en la Vida - EADDA9223 (feat. Lali & Nicki Nicole),Fito Paez,48,0.020833
Tu Turrito,Rei,98,0.040833
Milagrosa Tiktok,scuboom,91,0.044218
...,...,...,...
"Peso Pluma: Bzrp Music Sessions, Vol. 55",Bizarrap,30,5.333333
M.A - Remix,BM,191,6.253882
Los del Espacio,LIT killah,11,11.000000
La Bebe - Remix,Yng Lvcas,89,11.633333
Un Finde | CROSSOVER #2,Big One,46,23.333333

In [ ]:
sort_values