In [1]:
from custom_spotipy import sp
import datetime

today = datetime.datetime.today().date()
today_start = datetime.datetime.combine(today, datetime.time.min)
yesterday_start = today_start - datetime.timedelta(days=1)
unix_yesterday_start = int( yesterday_start.timestamp() *1000 )

raw_data = sp.current_user_recently_played(limit=5,after=unix_yesterday_start)

actualizado
se creo instancia

In [4]:
raw_data.keys()

dict_keys(['items', 'next', 'cursors', 'limit', 'href'])

In [ ]:
raw_data['items'][0].keys() #get played at here

In [ ]:
raw_data['items'][0]['played_at'] #played_at's raw format

In [ ]:
raw_data['items'][0]['track'].keys() #get album, artist, duration, name

In [2]:
from personal_songs_etl import transform
df = transform(raw_data)

In [26]:
df.head()

,name,artist,album,duration_sec,played_at
0,Blank Space,Taylor Swift,1989 (Deluxe),231.826,2023-05-11 15:08:39
1,We Can Work It Out - Remastered 2015,The Beatles,1 (Remastered),135.693,2023-05-11 15:04:46
2,99.9,MOB CHOIR,99.9,188.706,2023-05-11 15:02:30
3,In the End,Linkin Park,Hybrid Theory (Bonus Edition),216.880,2023-05-11 14:59:20
4,THE SHAPE OF,安月名莉子,安月名莉子 1st Album「BLUE MOON」,212.633,2023-05-11 14:55:43

In [25]:
df = df.rename(columns={'duration':'duration_sec'})

In [ ]:
from engine import engine
df.to_sql('top_50_arg_songs',con=engine, index=False, if_exists='append')

In [7]:
from datetime import datetime
print(datetime.today().strftime('%Y-%m-%d--%H:%Mhs'))

2023-05-14--11:10hs

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       35 non-null     object
 1   artist     35 non-null     object
 2   album      35 non-null     object
 3   duration   35 non-null     int64
 4   played_at  35 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 1.5+ KB

In [7]:
df['played_at'].apply(lambda x:x.date())

0     2023-05-09
1     2023-05-09
2     2023-05-09
3     2023-05-09
4     2023-05-09
5     2023-05-09
6     2023-05-09
7     2023-05-09
8     2023-05-09
9     2023-05-09
10    2023-05-09
11    2023-05-09
12    2023-05-08
13    2023-05-08
14    2023-05-08
15    2023-05-08
16    2023-05-08
17    2023-05-08
18    2023-05-08
19    2023-05-08
20    2023-05-07
21    2023-05-07
22    2023-05-07
23    2023-05-07
24    2023-05-07
25    2023-05-07
26    2023-05-07
27    2023-05-07
28    2023-05-07
29    2023-05-07
30    2023-05-07
31    2023-05-07
32    2023-05-06
33    2023-05-06
34    2023-05-06
Name: played_at, dtype: object

In [23]:
for record in df['played_at']:
    if record.date() != (datetime.datetime.today().date() - datetime.timedelta(days=1)):
        print("algo malo")
print("algo bueno")

algo bueno